.login-background {
    background-color: #abd9f1;
    height: 100vh;
    width: 100vw;
}

.login {
    border-radius: 1em;
    border: .5em solid #64BBEB;
    font-family: "Barlow";
    text-align: center;
    font-size: larger;
    padding: 3em;
    z-index: 1;
    background-color: #fff;
}

.login h1 {
    font-family: "BarlowBold";
    color: #333;
    margin-bottom: 1em;
}

.login #error {
    visibility: hidden;
    width: 20em;
    height: 0em;
    border: .2em solid #e72618;
    background-color: #f1837b;
    border-radius: 1em;
    transition: .3s;
    margin-top: 2em;
}

.login .user-type-slider {
    -webkit-appearance: none;
    height: .1em;
    width: 20em;
    background-color: #fff;
    border: none;
    margin-bottom: 2em;
}

.user-type-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10em;
    height: .1em;
    background: #64BBEB;
    cursor: pointer;
}

.user-type-slider::-moz-range-thumb {
    -moz-appearance: none;
    width: 10em;
    height: .1em;
    background: #64BBEB;
    cursor: pointer;
}

.user-type span {
    width: 10em;
    transition: .3s;
}

.user-type span:hover {
    cursor: pointer;
}

.login .form-text {
    width: 20em;
    height: 3em;
    padding: 0 1em;
    margin-bottom: 1em;
    border-radius: 1em;
    transition: .3s;
    border: .1em solid;
    border-color: #333;
}

.login .form-text:focus {
    outline: none;
    border-color: #91cff1;
}

.login .form-submit {
    height: 3em;
    width: 10em;
    background-color: #fff;
    border-radius: 1em;
    border: .1em solid #64BBEB;
    color: #333;
    transition: .3s;
}

.login .form-submit:hover {
    background-color: #91cff155;
}
 






