
.modal-body {
    border: none;
    width: 30em;
    text-align: center;
}

.modal-title  {
    font-family: "BarlowBold";
}

.modal-body form {
    margin-top: 1em;
}

.modal-body .form-text {
    width: 20em;
    height: 3em;
    padding-left: 1em;
    margin-top: 1em;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
    border-radius: 1em;
    color: #333;
    transition: .3s;
}

.modal-body .form-text:focus {
    border-color: #91cff1;
}

.modal-body .form-submit {
    border: .1em solid #64BBEB;
    background-color: white;
    font-size: 1.2em;
    padding: .8em;
    margin-top: 1em;
    border-radius: 1em;
    transition: .3s;
    margin-right: 1em;
}

.modal-body .form-submit:hover {
    background-color: #91cff155;
}

.modal-body .modal-hide {
    background-color: white;
    font-size: 1.2em;
    padding: .8em;
    border-radius: 1em;
    border: .1em solid #333;
    transition: .3s;
}

.modal-body .modal-hide:hover {
    background-color: #3333;
}
